<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../src/output.css">
   <link rel="stylesheet" href="../../src/input.css">
   <script src="https://cdn.tailwindcss.com"></script>
   <style>* {font-family: sans-serif;}</style>
   <title>Document</title>
</head>
<body>
<header class="w-full h-20 shadow-lg flex items-center justify-between px-6">
    <div class="text-center">
        <p class="text-lg font-bold text-red-700">YOUTUBE DOWNLOADER</p>
        <p class="text-sm text-red-700">Descarga videos en formato mp4 o mp3</p>
    </div>

    <nav class="flex justify-center flex-grow">
        <ul class="flex space-x-4">
            <li>
                <a href="/" class="text-gray-700 hover:bg-gray-100 px-3 h-full flex items-center justify-center rounded transition-colors duration-300">Inicio</a>
            </li>
            <li>
                <a href="/links" class="text-gray-700 hover:bg-gray-100 px-3 h-full flex items-center justify-center rounded transition-colors duration-300">Guardados</a>
            </li>
            <li>
                <a href="/info" class="text-gray-700 hover:bg-gray-100 px-3 h-full flex items-center justify-center rounded transition-colors duration-300">Info</a>
            </li>
        </ul>
    </nav>

    <div>
        {{#if isAuthenticated}}
            <a href="/logout" class="py-2 px-4 text-red-500 font-bold border border-red-500 rounded-lg hover:bg-red-500 hover:text-white transition duration-300">CERRAR SESIÓN</a>
        {{else}}
            <a href="/login" class="py-2 px-4 text-red-500 font-bold border border-red-500 rounded-lg hover:bg-red-500 hover:text-white transition duration-300">INICIAR SESIÓN</a>
        {{/if}}
    </div>
</header>




  {{{body}}}
</body>

<style>
   .border {
      border: 1px solid red;
   }
</style>
</html>
