<div class="max-w-lg mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-[100px]">
      <iframe src="{{frame}}"  class="w-full h-[300px]" frameborder="0"></iframe>
      <form class="p-6 mx-auto" method="POST" action="/search/download">
         <div class="flex gap-5">
               <h2 class="text-xl font-semibold text-gray-800 mb-2">Titulo:</h2>
               <h2 class="text-xl font-semibold text-gray-800 mb-2">{{ titulo }}</h2>
         </div>
         <div class="flex gap-5">
               <p class="text-sm text-gray-600 mb-4 text-xl">Duracion</p>
               <p class="text-sm text-gray-600 mb-4 text-xl">{{ duration }}</p>
         </div>
         <div class="flex items-center flex-col justify-between">
            <h3 class="mb-5 text-xl font-bold">Descargar</h3>
            <div class="flex justify-center space-x-4">
               <input type="hidden" name="link" value={{link}}>
               <input type="submit" value="MP4" name="type" class="bg-red-500 hover:bg-red-600 text-white px-8 py-2 rounded-lg transition-colors duration-300 ease-in-out">
               <input type="submit" value="MP3" name="type" class="bg-red-500 hover:bg-red-600 text-white px-8 py-2 rounded-lg transition-colors duration-300 ease-in-out">
            </div>
         </div>
      </form>
</div>
